.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__title {
  margin: 0;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header__item {
  margin-right: 20px;
}
